<div class="product-search">
    <input
        class="product-search__input"
        type="text"
        placeholder="Digite o nome do produto..."
        [(ngModel)]="textoBusca">

    @if (resultados.length > 0) {
    <div class="resultados">
        @for (
        produto of resultados;
        track produto.id
        ) {
        <button
            type="button"
            (click)="selecionarProduto(produto)">
            {{ produto.nome }}
        </button>
        }
    </div>
    }
</div>