<app-main-layout>
    <app-page-title
        title="Produtos"
        subtitle="Cadastre e mantenha os produtos disponíveis para venda.">
    </app-page-title>

    <app-toolbar>
        <button
            type="button"
            (click)="novoProduto()">
            + Novo Produto
        </button>

        <app-search-input
            placeholder="Buscar produto..."
            [(value)]="textoBusca">
        </app-search-input>
    </app-toolbar>

    @if (produtoEditandoId) {
    <p>
        ✏️ Editando:
        {{ nome }}
    </p>
    }

    @if (mostrarFormulario) {

    <div class="formulario">
        <div class="field">
            <label>Nome do Produto</label>
            <input
                type="text"
                placeholder="Nome"
                [(ngModel)]="nome">
        </div>
        <div class="field">
            <label>Categoria</label>
            <input
                type="text"
                placeholder="Categoria"
                [(ngModel)]="categoria">
        </div>
        <div class="field">
            <label>Código de Barras</label>
            <input
                type="text"
                placeholder="Código de Barras"
                [(ngModel)]="codigoBarras">
        </div>
        <div class="field">
            <label>Estoque Mínimo</label>
            <input
                type="number"
                [(ngModel)]="estoqueMinimo">
        </div>
        <div class="field">
            <label>Preço de Venda</label>
            <input
                type="number"
                placeholder="Preço Venda"
                [(ngModel)]="precoVenda">
        </div>

        <button
            type="button"
            (click)="salvarProduto()">
            {{
            produtoEditandoId
            ? 'Atualizar Produto'
            : 'Salvar Produto'
            }}
        </button>

        <button
            type="button"
            (click)="cancelarEdicao()">
            Cancelar
        </button>
    </div>
    }
    <p>
        Total de produtos:
        {{ produtosFiltrados.length }}
    </p>

    @if (
    produtosFiltrados.length === 0
    ) {
    <app-empty-state
        message="Nenhum produto cadastrado.">
    </app-empty-state>
    }
    <app-data-table
        [columns]="colunasProdutos"
        [data]="produtosFiltrados"
        [showActions]="true"
        (edit)="editarProdutoTabela($event)"
        (delete)="excluirProdutoTabela($event)">
    </app-data-table>
</app-main-layout>