<header class="header">
  <div class="header-company">
    <img
      [src]="tenantAtual?.logoUrl || branding.logo"
      [alt]="tenantAtual?.nome || branding.nomeExibicao">
    <div>

      <h2>
        {{ tenantAtual?.nome || branding.nomeExibicao }}
      </h2>

      <p>
        {{ branding.slogan }}
      </p>
    </div>

  </div>

  <div class="header-actions">
    @if (usuarioLogado) {

    <div class="header-user">
      <div class="header-user__name">
        {{ usuarioLogado.nome }}
      </div>
      <div class="header-user__profile">
        {{ usuarioLogado.perfil }}
      </div>
      <div class="header-user__tenant">
        {{ usuarioLogado.tenantNome }}
      </div>
    </div>

    }
    <button
      class="btn btn-secondary">
      👤 Perfil
    </button>

    <button
      class="btn btn-danger"
      (click)="sair()">
      Sair
    </button>
  </div>
</header>