<header class="header">
  <div class="header-company">
    <img
      [src]="tenantAtual?.logoUrl || branding.logo"
      [alt]="tenantAtual?.nome || branding.nomeExibicao">
    <div>

      <h2>
        {{
        tenantAtual?.nome
        || branding.nomeExibicao
        }}
      </h2>

      <p>
        {{ branding.slogan }}
      </p>
    </div>

  </div>
  <div class="header-actions">
    <button
      class="btn btn-secondary">
      👤 Perfil
    </button>

    <button
      class="btn btn-danger"
      (click)="sair()">
      Sair
    </button>
  </div>
</header>