:host {
    display: block;
}

.report-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.report-header__tabs {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.report-header__actions {
    display: flex;
    gap: 12px;
}


