@if (
confirmDialogService.dialog$ | async;
as dialog
) {

<div
    class="dialog-backdrop"
    (click)="cancelar()">

    <div
        class="dialog"
        (click)="$event.stopPropagation()">

        <div
            class="dialog-header"
            [ngClass]="dialogType">

            <span class="dialog-icon">
                {{ dialogIcon }}
            </span>

            <h2>
                {{ dialog.title }}
            </h2>

        </div>

        <p>
            {{ dialog.message }}
        </p>

        <div class="dialog-actions">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="cancelar()">
                {{dialog.cancelText || 'Cancelar'}}
            </button>

            <button
                type="button"
                class="btn"
                [class.btn-danger]="dialogType === 'danger'"
                [class.btn-warning]="dialogType === 'warning'"
                [class.btn-primary]="dialogType === 'info'"
                (click)="confirmar()">
                {{confirmButtonText}}
            </button>
        </div>
    </div>
</div>
}