<div class="company-brand-card">
    <h2>
        Identidade Visual
    </h2>

    <p class="brand-description">
        Tema visual ativo do sistema.
    </p>

    <div class="brand-preview">
        <div
            class="brand-preview__primary"
            [style.background]="empresa.corPrimaria">
            Primária
        </div>

        <div
            class="brand-preview__secondary"
            [style.background]="empresa.corSecundaria">
            Secundária
        </div>
    </div>
</div>