<div class="select-input">

    @if (label) {

    <label>
        {{ label }}
    </label>

    }

    <select
        #selectInput
        [ngModel]="value"
        (ngModelChange)="
            valueChange.emit($event)">

        @if (placeholder) {

        <option value>
            {{ placeholder }}
        </option>

        }

        @for (
        option of options;
        track option.value
        ) {

        <option
            [value]="option.value">
            {{ option.label }}
        </option>
        }

    </select>
</div>