<!-- <div class="generated-image-placeholder">
    <div class="placeholder-content">
        🖼️
        <h3>
            Arte será exibida aqui
        </h3>

        <p>
            A futura integração com IA
            gerará a imagem nesta área.
        </p>
    </div>
</div> -->

<div class="marketing-card">

    @if (campanha?.sugestaoIa) {
    <div class="ai-suggestion">
        <h3>
            🤖 Sugestão da IA
        </h3>
        <div>
            <strong>Tom:</strong>
            {{ campanha.sugestaoIa.tom }}
        </div>
        <div>
            <strong>Tipo da Promoção:</strong>
            {{ campanha.sugestaoIa.tipoPromocao }}
        </div>
        <div>
            <strong>Elemento Visual:</strong>
            {{ campanha.sugestaoIa.elementoVisual }}
        </div>
    </div>

    } @else {

    <div class="ai-preview__empty">
        Selecione um produto e gere uma campanha.
    </div>
    }
</div>
