<!-- <div class="generated-image-placeholder">
    <div class="placeholder-content">
        🖼️
        <h3>
            Arte será exibida aqui
        </h3>

        <p>
            A futura integração com IA
            gerará a imagem nesta área.
        </p>
    </div>
</div> -->

<div class="marketing-card">

    @if (campanha) {

    <h3>🤖 Sugestão da IA</h3>

    <p>
        <strong>Tom:</strong>
        {{ campanha.tom }}
    </p>

    <p>
        <strong>Tipo da Promoção:</strong>
        {{ campanha.tipoPromocao }}
    </p>

    <p>
        <strong>Elemento Visual:</strong>
        {{ campanha.elementoVisual }}
    </p>

    <hr>

    <h3>📝 Legenda</h3>

    <pre>
{{ campanha.legenda }}
    </pre>

    <h3>📱 Texto WhatsApp</h3>

    <pre>
{{ campanha.textoWhatsapp }}
    </pre>

    <h3>🎨 Prompt</h3>

    <pre>
{{ campanha.prompt }}
    </pre>

    } @else {

    <div class="ai-preview__empty">
        Selecione um produto e gere uma campanha.
    </div>
    }
</div>
