<div class="company-support-card">
    <h2>
        Informações da Implantação
    </h2>
    <p class="support-description">
        Dados técnicos e administrativos do sistema.
    </p>

    <div class="support-item">
        <span>
            Proprietário
        </span>

        <strong>
            {{ empresa.proprietario || '-' }}
        </strong>
    </div>

    <div class="support-item">
        <span>
            Implantação
        </span>

        <strong>
            {{ empresa.dataImplantacao | date:'dd/MM/yyyy' }}
        </strong>
    </div>

    <div class="support-item">
        <span>
            Versão
        </span>

        <strong>
            {{ empresa.versaoSistema }}
        </strong>
    </div>

    <div class="support-item">
        <span>
            Desenvolvedor
        </span>

        <strong>
            👩‍💻 Aline Andrade de Almeida
        </strong>
    </div>

    <div class="support-item">
        <span>
            Status
        </span>

        <span class="status-badge">

            ✅ Sistema Ativo

        </span>
    </div>
</div>