<div class="company-profile-card">
    <div
        class="company-profile-card__logo">

        @if (tenantAtual?.logoUrl) {
        <img
            [src]="tenantAtual?.logoUrl"
            [alt]="tenantAtual?.nome">
        } @else {

        🏢

        }
    </div>

    <div class="company-profile-card__content">
        <span class="company-badge">
            Perfil Institucional
        </span>

        <h2>
            {{ tenantAtual?.nome || empresa.nomeFantasia }}
        </h2>
        <p class="company-slogan">
            {{ empresa.slogan }}
        </p>

        <div class="company-info-group">
            <strong>
                Dados Fiscais
            </strong>
            <p>
                Razão Social: {{ tenantAtual?.nome || empresa.nomeFantasia }}
            </p>
            <p>
                CNPJ: {{ empresa.cnpj || '-' }}
            </p>
        </div>

        <div class="company-info-group">
            <strong>
                Responsável
            </strong>
            <p>
                Responsável: {{ tenantAtual?.responsavel || empresa.proprietario
                || '-' }}
            </p>
        </div>

        <div class="company-info-group">
            <strong>
                Contato
            </strong>
            <p>
                📞 {{ empresa.telefone || '-' }}
            </p>

            <p>
                ✉️ {{ tenantAtual?.email || empresa.email || '-' }}
            </p>

            <p>
                📍{{ tenantAtual?.cidade || empresa.cidade || '-'}}
            </p>
        </div>
        <div class="company-info-group">
        <strong>
            Status
        </strong>
        <p>
            {{ tenantAtual?.ativo ? 'Ativo' : 'Inativo' }}
        </p>
    </div>
    </div>
    