<div class="field">

    <label>
        Produto
    </label>

    <input
        #produtoInput
        type="text"
        placeholder="Código, código de barras ou nome"
        [(ngModel)]="textoBusca"
        (input)="buscar()"
        (keyup.enter)="selecionarPrimeiroResultado()">

    @if (
    mostrarResultados &&
    resultados.length > 0
    ) {

    <div class="resultados">

        @for (
        produto of resultados;
        track produto.id
        ) {

        <button
            type="button"
            (click)="selecionarProduto(produto)">

            <strong>
                {{ produto.nome }}
            </strong>

            <small>

                Código:
                {{ produto.codigo }}

                @if (produto.codigoBarras) {

                •
                {{ produto.codigoBarras }}

                }

            </small>

        </button>

        }

    </div>

    }

</div>