:host {
  display: block;
}

.formulario-cliente {
    padding: 20px;
    margin-bottom: 24px;
}

.formulario-acoes {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

input,
select {
  border: 1px solid var(--color-gray-300);
}

label {
  color: var(--color-gray-700);
}

.secao-clientes {
  margin-bottom: 12px;
}

.secao-clientes h2 {
  margin: 0;
}

.formulario-cliente h3 {
  margin-bottom: 4px;
}

.formulario-cliente__subtitle {
  color: var(--color-gray-500);
  margin-bottom: 20px;
}

.secao-clientes p {
  margin-top: 4px;
  color: var(--color-gray-500);
}

.formulario-cliente.visualizacao {
  input,
  textarea {
    background-color: var(--color-tertiary);
    border-color: var(--color-gray-300);
    color: var(--color-gray-700);
    cursor: default;
  }

  label {
    color: var(--color-gray-500);
  }

  
}
